name: Deploy Minha Fila

on:
  push:
    branches:
      - main
      - stage
      
jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      HOST: ${{ secrets.VPS_HOST }}
      USER: ${{ secrets.VPS_USER }}
      PASSWORD: ${{ secrets.VPS_PASSWORD }}
      APP_CONTAINER: app

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Definir variáveis do ambiente
        id: vars
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "env_file=.env.production" >> $GITHUB_OUTPUT
            echo "env=minhafila" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/stage" ]]; then
            echo "env_file=.env.staging" >> $GITHUB_OUTPUT
            echo "env=minhafila-stage" >> $GITHUB_OUTPUT
          fi

      - name: Limpar pasta temporária se existir
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            # Remove pasta _build se existir
            if [ -d ~/${{ steps.vars.outputs.env }}_build ]; then
              rm -rf ~/${{ steps.vars.outputs.env }}_build
            fi

      - name: Copiar arquivos para pasta temporária na VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          debug: true
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          source: "."
          target: "~/${{ steps.vars.outputs.env }}_build"

      - name: Substituir pasta oficial
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            # Remove pasta oficial se existir
            if [ -d ~/${{ steps.vars.outputs.env }} ]; then
              rm -rf ~/${{ steps.vars.outputs.env }}
            fi
            # Move pasta _build para pasta oficial
            mv ~/${{ steps.vars.outputs.env }}_build ~/${{ steps.vars.outputs.env }}

      - name: Configurar .env no servidor
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            cd ~/${{ steps.vars.outputs.env }}
            mv docker/php/${{ steps.vars.outputs.env_file }} .env

      - name: Subir containers Docker
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            cd ~/${{ steps.vars.outputs.env }}
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml down            
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml build
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml up -d

      - name: Rodar Composer e Artisan
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            cd ~/${{ steps.vars.outputs.env }}
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml exec -T app git config --global --add safe.directory /var/www
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml exec -T ${{ env.APP_CONTAINER }} composer install --no-dev --optimize-autoloader
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml exec -T ${{ env.APP_CONTAINER }} php artisan config:clear
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml exec -T ${{ env.APP_CONTAINER }} php artisan migrate --force            

      - name: Ajustar permissões finais
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            cd ~/${{ steps.vars.outputs.env }}
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml exec -T ${{ env.APP_CONTAINER }} chmod -Rf 777 storage bootstrap/cache public

      - name: Subir containers Docker
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.HOST }}
          username: ${{ env.USER }}
          password: ${{ env.PASSWORD }}
          script: |
            cd ~/${{ steps.vars.outputs.env }}
            ENV=${{ steps.vars.outputs.env }} docker compose -f docker-compose-vps.yml up -d --force-recreate            
